<br><br>
<form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)" >
     <input type="hidden" name="SalesMainID" #SalesMainID="ngModel"  [(ngModel)]="service.formData.SalesMainID">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label>Sales Date</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text"><i class="fas fa-calendar-alt"></i></div>
              
              <input class="form-control" type="text" name="SalesDate" bsDatepicker   [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }" placement="right" #SalesDate="ngModel" [(ngModel)]="service.formData.SalesDate"  [class.is-invalid]="!isValid && service.formData.SalesDate==null">
            </div>
          </div>
         
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>Total Amount</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">$</div>
              
              <input class="form-control" readonly name="TotalAmount" #TotalAmount="ngModel" [(ngModel)]="service.formData.TotalAmount"  >
        
            </div>
          </div>
        </div>
      </div>
    
    </div>
    <br>
    <br>
    <br>

      <!-- Salse-sub Item Table -->
      <table class="table table-borderless ">
          <thead class="thead-dark">
            <th>Item Name</th>
            <th>Price Rate</th>
            <th>Quantity</th>
            <th>Total </th>
            <th><a class="btn btn-success" (click)="AddOrEditSalesItem(null,service.formData.SalesMainID)"><i class="fa fa-plus"></i> Add Sales Item</a></th>


          </thead>
          <tbody>
            <tr *ngIf="service.salesItems.length==0" [class.text-danger]="!isValid && service.salesItems.length==0">
              <td class="font-italic text-center" colspan="5" >
                 No Sales Item Selected For Sales Sub
              </td>
            </tr>
            <tr *ngFor="let item of service.salesItems;let i=index;">
              <td>{{item.ItemName}}</td>
              <td>{{item.Price}}</td>
              <td>{{item.ItemQuantity}}</td>
              <td>{{item.TotalPrice}}</td>
              <td>
                <a class="btn btn-info" (click)="AddOrEditSalesItem(i,item.SalesMainID)"><i class="fas fa-edit"></i></a>
                <a class="btn btn-danger ml-1" (click)="DeleteSalesItem(item.SalesSubID,i)"><i class="fas fa-trash"></i></a>
              
              </td>
            </tr>
          </tbody>
      </table>

     <div class="form-group">
      <button type="submit" class="btn btn-info">Submit</button>
      <a  class="btn btn-outline-success ml-1" routerLink="/Sales"><i class="fa fa-table"></i> Go To Sales Main Table </a>
     </div>
</form>


